
<ion-header>

  <ion-navbar>
    <ion-title>{{mode}} recipe</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <ion-list>

      <ion-item>
        <ion-label floating>Text</ion-label>
        <ion-input
         type="text"
         formControlName="title"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-textarea
        formControlName="description"
        ></ion-textarea>

      </ion-item>
      <ion-item>
          <ion-label floating>Difficulty</ion-label>
          <ion-select formControlName="difficulty">
              <ion-option *ngFor="let option of selectOptions"
              [value]="option">{{option}}</ion-option>
          </ion-select>
          </ion-item>
    </ion-list>
<ion-row>
    <button type="button"
            ion-button
            clear
            (click)="onManageIngredients()">Manage ingredients</button>
</ion-row>

<ion-list formArrayName="ingredients">
  <ion-item *ngFor="let igControl of getControls(); let i = index"
            [formGroupName]="i">


                  <ion-input type="text" formControlName="name"></ion-input>


                    <ion-input type="number" formControlName="amount"></ion-input>


            <button  small ion-button icon-only item-end
            (click)="onDeleteIngredient(i)">
              <ion-icon name="trash"></ion-icon>
          </button>


  </ion-item>
</ion-list>


    <button
      ion-button
      type="submit"
      [disabled]="!recipeForm.valid"
       block>Save</button>
  </form>


</ion-content>
